body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #eee;
    padding: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.character {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 10px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}
